.App {
  text-align: center;
}

.App-logo {
  /*  animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #dceff5;
  height: 150px;
  padding: 20px;
  color: #515659;
}

.tag {
  display: inline-block;
  padding-right: 2px;
}

.tag::after {
  content: ' ';
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
